<mat-toolbar color="primary" class="nav-button-row">
  <mat-toolbar-row>
    <img src="../../assets/image/logo/ur_movies_logo_w.png" alt="Logo" style="width: 200px;">
    <button routerLink="/" mat-raised-button>Dashboard</button>
    <button routerLink="/advertisings/list" mat-raised-button>Advertising List</button>
    <button routerLink="/customer" mat-raised-button>Customer</button>
    <button routerLink="/product" mat-raised-button>Product</button>
    <button routerLink="/" mat-raised-button>Report</button>
    <button routerLink="/" mat-raised-button>Sign In</button>
    <button routerLink="/" mat-raised-button>Sign Out</button>
    <button routerLink="/" mat-raised-button>Register</button>
    <button routerLink="/" mat-raised-button>Profile</button>
    <button routerLink="/" mat-raised-button>Setting</button>

  </mat-toolbar-row>
</mat-toolbar>
