<mat-toolbar color="primary" class="nav-button-row">
  <mat-toolbar-row>
    <img lass="menu-logo" src="../../assets/image/logo/ur_movies_logo_w.png" alt="Logo">
    <span class="menu-subtitle">Admin System</span>
    <button routerLink="/" mat-raised-button>
      <mat-icon aria-hidden="true">dashboard</mat-icon>
      Dashboard
    </button>


    <button mat-button [matMenuTriggerFor]="managementMenu">
      <mat-icon aria-hidden="true">next_week</mat-icon>
      Management
    </button>
    <mat-menu #managementMenu="matMenu">
      <button class="no-margin" mat-menu-item routerLink="/advertisings/list"> Advertising</button>
      <button class="no-margin" mat-menu-item routerLink="/customer"> Customer</button>
      <button class="no-margin" mat-menu-item routerLink="/product"> Product</button>
    </mat-menu>


    <button mat-button [matMenuTriggerFor]="profileMenu">
      <mat-icon aria-hidden="true">assignment_ind</mat-icon> Profile
    </button>
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item routerLink="/customer">My Info</button>
      <button mat-menu-item routerLink="/customer"> Register</button>
      <button mat-menu-item routerLink="/customer"> Sign In</button>
      <button mat-menu-item routerLink="/customer"> Sign Out</button>
    </mat-menu>

  </mat-toolbar-row>
</mat-toolbar>
