<form [formGroup]="form">
  <h3 class="sub-title">
    Advertising Edit
  </h3>
  <mat-card class="card-container ">
    <div class="form-container">

      <mat-form-field>
        <!-- <input matInput placeholder="Title" value="{{item.title}}"> -->
        <input formControlName="title" matInput placeholder="Title" name="title">
      </mat-form-field>

      <mat-form-field>
        <textarea formControlName="description" matInput placeholder="Description"></textarea>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="startDate" matInput [matDatepicker]="startDatePicker" placeholder="Start Date">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="endDate" matInput [matDatepicker]="endDatePicker" placeholder="End Date">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
  </mat-card>

  <div class="button-bottom-left">
    <button mat-fab color="primary" (click)="back()">
      <mat-icon aria-label="add new">arrow_back</mat-icon>
    </button>
  </div>

  <div class="button-bottom-right">
    <button mat-fab color="primary" [disabled]="!form.valid" (click)="save()">
      <mat-icon aria-label="add new">save</mat-icon>
    </button>
  </div>
</form>
