/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



.sub-title {
  font-size: 30px;
}

.button-bottom-right {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

.button-bottom-left {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 10px 30px
}

.form-container>* {
  width: 100%;
}

.card-container {
  margin: 10px 30px
}

.table-row-style:hover {
  background: #cecece;
}

.table-row-style:active {
  background: #efefef;
}

.content-container {

  padding: 10px;

}
