<mat-grid-list cols="4" rowHeight="200px">

  <mat-grid-tile>
    <div id="section1" class="key-point-container">
      <h4>Customers:</h4>
      <h5>3,999,999</h5>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div id="section2" class="key-point-container">
      <h4>Customers:</h4>
      <h5>3,999,999</h5>
    </div>
  </mat-grid-tile>

  <mat-grid-tile>
    <div id="section3" class="key-point-container">
      <h4>Customers:</h4>
      <h5>3,999,999</h5>
    </div>
  </mat-grid-tile>
  <mat-grid-tile>
    <div id="section4" class="key-point-container">
      <h4>Customers:</h4>
      <h5>3,999,999</h5>
    </div>
  </mat-grid-tile>

</mat-grid-list>
